body{
    background: linear-gradient(#000, #333);
    color: white;
    text-align: center;
    font-family: 'Pacifico',cursive;
    padding: 20px;
}

.theater-screen{
    border: 5x solid gold;
    padding: 20px;
    box-shadow: 0 0 20px gold;
    background-color: black;
    display: inline-block;
    margin-top: 50px;
}

video{
    width: 80%;
    margin-top: 20px;
    box-shadow: 0 0 15px white;
}

.buttons {
    margin-top: 20px;
}

button{
    background-color: gold;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover{
    background-color: orange;
}